<!DOCTYPE html>
<html>
<head>
	<title>PIMS Workflow Help</title>
	<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/myjava.js"></script>
</head>

<body>
	<div class="Header">
		<div class="Logo"></div>
	</div>
	<div class="Whole">
		<div class="LabelHolder"><h2 id="helpTitle">Help</h2></div>
		<div class="StoryHolder">
			<div class="StoryTable">
				<div class="TableHeaderRow StoryTableRow">
					<div class="HelpHeaderCell">Standardized Formatting Style</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">Module</div>
					<div class="TableCell">
						Modules will be underlined (e.g. <span class="Underlined">Detention</span>)
					</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">Screens</div>
					<div class="TableCell">
						Screens will be italicized (e.g. <i>Population Summary</i>)
					</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">Buttons</div>
					<div class="TableCell">
						Buttons will be bolded (e.g. <b>Save</b>)
					</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">Field Titles and Data</div>
					<div class="TableCell">
						Field titles and data will be in quotation marks (e.g. "Elm 6")
					</div>
				</div>
			</div><br /><br />
			
			<div class="StoryTable">
				<div class="TableHeaderRow StoryTableRow">
					<div class="HelpHeaderCell">Icons</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell"><img class="IconImage" src="../static/images/template/edit_icon.gif"></div>
					<div class="TableCell">Edit Icon (Use this to edit a record row)</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell"><img class="IconImage" src="../static/images/template/calander_icon.GIF"></div>
					<div class="TableCell">Calander Icon (Use this to select a date)</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell"><img class="IconImage" src="../static/images/template/search_icon.GIF"></div>
					<div class="TableCell">Search Icon (Use this to select an option from a search list)</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell"><img class="IconImage" src="../static/images/template/time-icon.GIF"></div>
					<div class="TableCell">Clock Icon (Use this to select a time)</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell"><img class="IconImage" src="../static/images/template/word_icon.GIF"></div>
					<div class="TableCell">Word Icon (Use this to download a word document containing a record)</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell"><img class="IconImage" src="../static/images/template/pdf_icon.GIF"></div>
					<div class="TableCell">PDF Icon (Use this to open a PDF of a record)</div>
				</div>
			</div><br /><br />
			
			<div class="StoryTable">
				<div class="TableHeaderRow StoryTableRow">
					<div class="HelpHeaderCell">Summary of Abbreviations</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">BHRS</div>
					<div class="TableCell">Behavior Health and Recover Services</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">Char</div>
					<div class="TableCell">Characteristics</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">COD</div>
					<div class="TableCell">Conditions of Probation</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">Crt</div>
					<div class="TableCell">Court</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">CTS</div>
					<div class="TableCell">Credit Time Served</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">DA</div>
					<div class="TableCell">District Attorney</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">DPO</div>
					<div class="TableCell">Deputy Probation Officer</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">DOB</div>
					<div class="TableCell">Date of Birth</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">DRR</div>
					<div class="TableCell">Desciplinary Room Restriction</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">GBT</div>
					<div class="TableCell">Good Behavior Time</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">GS</div>
					<div class="TableCell">Group Supervisor</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">Hrng</div>
					<div class="TableCell">Hearing</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">ICWA</div>
					<div class="TableCell">Indian Child Wellness Act</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">IR</div>
					<div class="TableCell">Incident Report</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">ISM</div>
					<div class="TableCell">Institution Services Manager</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">JCR</div>
					<div class="TableCell">Juvenile Contact Report</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">JPEG</div>
					<div class="TableCell">Joint Photographic Expert Group</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">LOS</div>
					<div class="TableCell">Legal Office Specialist</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">OD</div>
					<div class="TableCell">On Duty Supervisor</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">PCD</div>
					<div class="TableCell">Probable Cuase Declaration</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">PIMS</div>
					<div class="TableCell">Probation Information Management System</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">PO</div>
					<div class="TableCell">Probation Officer</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">Rpt</div>
					<div class="TableCell">Report</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">SA</div>
					<div class="TableCell">State's Attorney</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">SHU</div>
					<div class="TableCell">Special Handling Unit</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">SPO</div>
					<div class="TableCell">Supervisor Probation Office</div>
				</div>
				<div class="HelpRow Row1">
					<div class="StoryTitle TableCell">THD</div>
					<div class="TableCell">Therapeutic Detention</div>
				</div>
				<div class="HelpRow Row2">
					<div class="StoryTitle TableCell">Trans</div>
					<div class="TableCell">Transfer</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>